.search-results__title {
  text-align: center;
  text-transform: uppercase;
  color: #3f72af;
  margin: 0;
  margin-bottom: 50px;
}

.search-results__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.search-results__item {
  width: 100%;
}

.search-results__item:not(:last-child) {
  margin-bottom: 50px;
}

.search-result__not-found {
  color: #3f72af;
  font-size: 32px;
  text-align: center;
}

@media (max-width: 767px) {
  .search-results__title {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
