.main {
  width: 1200px;
  margin: 0 auto;
}

.list-page__wrapper {
  display: flex;
}

.list-page__title {
  margin: 0;
  margin-bottom: 40px;
}

.list-page__controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
}
