.task-details {
  font-size: 26px;
}

.task-details__group {
  display: grid;
  grid-template-columns: 300px 1fr;
  column-gap: 20px;
}

.task-details__group:not(:last-child) {
  margin-bottom: 20px;
}

.task-details__title {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
  word-break: break-all;
}

.task-details__description {
  margin: 0;
  word-break: break-all;
}

.task-details__creating-date {
  margin: 0;
}

.task-details__deadline {
  margin: 0;
}

@media (max-width: 1399px) {
  .task-details {
    font-size: 22px;
  }

  .task-details__group {
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
  }
}

@media (max-width: 767px) {

  .task-details__group {
    display: flex;
    text-align: center;
    flex-direction: column;
  }
}
