.tasks__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.tasks__item {
  width: 100%;
}

.tasks__item:not(:last-child) {
  margin-bottom: 50px;
}

.tasks__item--selected {
  opacity: 0.6;
}

.tasks__item--over {
  border: 1px dotted #3f72af;
}
